/* body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to right, #546951, #9b738e);
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 40px auto;
    background: #ffffff2f;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    color: #3e3e3e;
    margin-bottom: 25px;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

input {
    padding: 10px;
    font-size: 15px;
    border-radius: 8px;
    border: 1px solid #cccccc69;
}

button {
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    font-size: 20px;
    background-color: #b9c5ba57;
    font-family: 'sans-serif', 'lucida Sans';   
    border: none;
    border-radius: 8px;
    color: black;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: #215c24;
}
details.dropdown {
    margin-top: 5px;
    cursor: pointer;
    background-color: #f8f8f8;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.dropdown-options {
    list-style: none;
    padding-left: 0;
    margin-top: 10px;
}

.dropdown-options li {
    padding: 8px 12px;
    border-radius: 6px;
    background-color: #ffffff41;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    cursor: pointer;
    transition: background 0.2s;
}

.dropdown-options li:hover {
    background-color: #e0f7e0;
}
details.dropdown {
    margin-top: 5px;
    cursor: pointer;
    background-color: #f8f8f8;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.dropdown-options {
    list-style: none;
    padding-left: 0;
    margin-top: 10px;
}

.dropdown-options li {
    padding: 8px 12px;
    border-radius: 6px;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    cursor: pointer;
    transition: background 0.2s;
}

.dropdown-options li:hover {
    background-color: #e0f7e0;
}

.result {
    text-align: center;
    margin-top: 25px;
    background-color: #c6eec6;
    font-family: sans-serif , lucida Sans;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #266126;
} */